@import '../../variables';

.chat {
  width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @include chat;
}

.contacts {
  width: 25%;

  @include chat;
}

.usersContainer {
  height: 72px;
  flex-shrink: 0;
  border-bottom: $container-border;
  display: flex;
}

.usersList {
  overflow-x: auto;
}

.chatUser {
  padding: 4px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  width: 64px;
  border-right: 1px solid $border-dark;

  & img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 4px;
    right: 4px;
   }
}

.addUser {
  height: 100%;
  width: 160px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: $container-border;
  display: flex;
  box-sizing: border-box;
}

.messages {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

.messageForm {
  flex-shrink: 0;
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px 32px 32px;
  box-sizing: border-box;
  border-top: $container-border;
  display: flex;

  & textarea {
    @include border;

    width: 80%;
    padding: 8px;
    border-radius: 5px;
    resize: none;

    &:focus-visible {
      outline: 1px solid $border-dark;
    }
  }

  & button {
    width: 80px;
    height: 80px;
    align-self: center;
  }
}

.chatMessage {
  @include border;

  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  margin: 8px;
  border-radius: 20px 20px 20px 0;
}

.settings {
  @include centeredFlex;
  padding-bottom: 8px;

  height: fit-content;
  border-bottom: $container-border;
  display: flex;

  display: flex;
  justify-content: space-evenly;

  & button {
    margin: 0 16px;
  }

  & img {
    margin-top: 2px;
  }
}

.addChat {
  @include centeredFlex;

  margin: 8px;
}

.chatContact {
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid $border-dark;
  box-sizing: border-box;
  height: 80px;
  position: relative;
  cursor: pointer;

   & img {
    height: 56px;
    width: 56px;
   
   }

   & .count {
     position: absolute;
     height: 12px;
     width: 12px;
     padding: 2px;
     border-radius: 50%;
     background-color: red;
     color: white;
     top: 12px;
     left: 12px;
     font-size: 12px;
     text-align: center;
   }
}

.lastMessage {
  margin-left: 16px;
  flex: 1;
  min-width: 0;

 & .date {
  float: right;
  color: gray;
 }

  & .text {
    margin-top: 8px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
  }
}
