@import 'variables';

html,
body,
main {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: $dark-color;
  font-family: acme, sans-serif;
}

.centeredContainer {
  height: 100%;
  width: 100%;

  @include centeredFlex;
}

.invalidInput {
  box-shadow: 0 0 8px 1px $invalid-color;
}
