@font-face {
  font-family: 'acme';
  src: url('../static/acme-regular-webfont.woff2') format('woff2'),
       url('../static/acme-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$base-color: #bd80cc;
$dark-color: #5c1e6b;
$border-dark: rgba($base-color, 0.88);

@mixin centeredFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border {
  border: 1px solid $border-dark;
}
